<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration form</title>
    <style>
        div {
            color: red;
        }
    </style>
</head>
<body>
<form th:method="post" th:action="@{/auth/registration}" th:object="${person}">
    <label for="username">Input your username: </label>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <input type="text" th:field="*{username}" id="username">
    </br>
    <label for="yearOfBirth">Input your year of birth: </label>
    <div th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year of birth error</div>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth">
    <br/>
    <label for="password">Input your password: </label>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <input type="submit" value="Sign up">
</form>
</body>
</html>